@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.theme-custom {
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 228 97% 27%;
    --primary-foreground: 228 9.7% 96.35%;
    --secondary: 228 48.5% 8.100000000000001%;
    --secondary-foreground: 228 9.7% 96.35%;
    --tertiary: 34.1 100% 50%;
    --tertiary-foreground: 228 9.7% 96.35%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 228 63.05% 2.16%;
    --foreground: 228 9.7% 96.35%;
    --card: 228 45.6% 3.5100000000000002%;
    --card-foreground: 228 9.7% 96.35%;
    --popover: 228 45.6% 3.5100000000000002%;
    --popover-foreground: 228 9.7% 96.35%;
    --primary: 228 97% 27%;
    --primary-foreground: 228 9.7% 96.35%;
    --secondary: 228 48.5% 8.100000000000001%;
    --secondary-foreground: 228 9.7% 96.35%;
    --tertiary: 34.1 100% 50%;
    --tertiary-foreground: 228 9.7% 96.35%;
    --muted: 228 48.5% 8.100000000000001%;
    --muted-foreground: 228 9.7% 52.7%;
    --accent: 228 48.5% 8.100000000000001%;
    --accent-foreground: 228 9.7% 96.35%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 228 9.7% 96.35%;
    --border: 228 48.5% 8.100000000000001%;
    --input: 228 48.5% 8.100000000000001%;
    --ring: 228 97% 27%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  @font-face {
    font-family: "Bank Gothic";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local("Bank Gothic"),
      url(./assets/fonts/BankGothicMediumBT.ttf) format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400 600 700 900;
    font-display: swap;
    src:
      local("Montserrat"),
      url(./assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  }

  * {
    @apply border-border;
    font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }
  .font-heading {
    font-family: "Bank Gothic", Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    @apply text-primary dark:text-foreground;
  }
}
