PORT=3000

# authsch
AUTHSCH_CLIENT_ID=
AUTHSCH_CLIENT_SECRET=

# postgres
POSTGRES_DB=streamzen
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456

POSTGRES_PRISMA_URL=postgresql://postgres:123456@localhost:5432/streamzen?schema=public

# backend
FRONTEND_CALLBACK=http://localhost:3000
JWT_SECRET=secret
